.menu {
  text-transform: uppercase;
  font-weight: bold; }
  .menu li {
    margin: 0 2rem; }
    .menu li a {
      text-decoration: none;
      color: #acacac; }
      .menu li a:hover {
        color: #4a4a4a; }

.h_menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0; }

.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("/IKAE/assets/media/images/header.jpg") center no-repeat;
  background-size: cover; }

html, body {
  font-size: 16px; }

body {
  font-family: "Open Sans", sans-serif;
  color: #4a4a4a;
  margin: 0; }

.title {
  font-weight: bold; }

.headline {
  text-transform: uppercase;
  font-size: 4rem; }

.site_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  position: absolute;
  width: 85%;
  box-sizing: border-box;
  margin: 4rem 4rem 4rem 7rem; }
  .site_header .site-logo {
    height: 2rem; }
  .site_header .search {
    height: 1rem; }

.navbar {
  display: flex; }

.content .segments {
  display: flex;
  justify-content: space-between; }
  .content .segments .segment {
    margin-right: 4rem;
    flex: 1; }
    .content .segments .segment h3 {
      color: #acacac;
      margin-top: 0; }

.about {
  padding: 4rem 7rem;
  background-color: #dedede; }
  .about .segments:first-child {
    flex-basis: 10%; }

.services {
  text-transform: uppercase; }
  .services img {
    height: 2rem; }

.interior {
  width: 60%; }
  .interior img {
    width: 100%; }

.categories .content_head {
  padding: 2rem 7rem;
  background-color: white; }

.category {
  height: 35rem;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-blend-mode: overlay; }
  .category .title {
    text-transform: uppercase;
    color: #f3f3f3; }
  .category:hover {
    background-blend-mode: normal;
    transition: .7s; }
    .category:hover .title {
      display: none; }

.bathroom_category {
  background: url("/IKAE/assets/media/images/bathroom.jpg") center no-repeat;
  background-size: cover; }

.kitchen_category {
  background: url("/IKAE/assets/media/images/kitchen.jpg") center no-repeat;
  background-size: cover; }

.bedroom_category {
  background: url("/IKAE/assets/media/images/bedroom.jpg") center no-repeat;
  background-size: cover; }

.livingroom_category {
  background: url("/IKAE/assets/media/images/livingroom.jpg") center no-repeat;
  background-size: cover; }

.bathroom_category, .kitchen_category,
.bedroom_category, .livingroom_category {
  background-color: #4a4a4a; }

footer {
  text-align: center;
  color: #acacac;
  margin: 2rem; }
