.menu {
  text-transform: uppercase;
  font-weight: bold; }
  .menu li {
    margin: 0 1rem; }
    .menu li a {
      text-decoration: none;
      color: #f3f3f3; }
      .menu li a:hover {
        color: #4a4a4a; }

.h_menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0; }

html, body {
  font-size: 16px; }

body {
  font-family: "Open Sans", sans-serif; }

.site_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 2rem 2rem 4rem; }
  .site_header .site-logo {
    height: 2rem; }
  .site_header .search {
    height: 1rem; }

.navbar {
  display: flex;
  align-items: center; }
