
@mixin photo-content($file) {
  background: url('/IKAE/assets/media/images/#{$file}.jpg') center;
  background-size: cover;
}

@mixin flex {
  display: flex;
  align-items: center;
}

@mixin horizontal-menu {
  @include flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@mixin title {
  font-weight: bold;
}
