// Fonts
$base-font-size: 16px;
$base-font-family: 'Open Sans', sans-serif;
$title-size-large: 4rem;
$title-size-md: 1.5rem;
$title-size-sm: .5rem;
$title-primary-font: 'Avenir', sans-serif;

// Colors
$base-color: rgb(74,74,74);
$brand-color: rgb(174,163,144);
$accent-color: rgb(243,243,243);
$accent-darker-color: rgb(172,172,172);

// Layout
$base-padding: 1rem;
$base-margin: 2rem;
$md-margin: 4rem;
$lg-margin: 7rem;

// Aesthetic
$base-shadow: 0 0 .1rem $base-color;
