// Fonts
$base-font-size: 16px;
$base-font-family: 'Open Sans', sans-serif;
$title-size-large: 3rem;
$title-size-md: 1.5rem;
$title-size-sm: .5rem;
$title-primary-font: 'Avenir', sans-serif;

// Base colors
$base-color: rgb(74,74,74);
$brand-color: rgb(174,163,144);
// $brand-80-color: rgba($color-brand, 0.8);
$accent-color: rgb(243,243,243);

// Layout
$base-padding: 1rem;
$base-margin: 1rem;
$md-margin: 2rem;
$lg-margin: 4rem;

// Aesthetic
$base-shadow: 0 0 .1rem $base-color;
