// Mixins, functions, and variables
@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";

// Components
@import "components/menu";
@import "components/cover";

// ************************************************************
//
// Author: Genevieve Masioni
// Author URI : http://genevievemasioni.com
// License: GNU General Public License v2 or later
// License URI: http://www.gnu.org/licenses/gpl-2.0.html
// Version: 1.0.0
//
// ************************************************************

// ************************************************************
// GLOBAL
// ************************************************************

html, body {
  font-size: $base-font-size;
}

body {
  font-family: $base-font-family;
  color: $base-color;
  margin: 0;
}

.title {
  @include title;
}

.headline {
  text-transform: uppercase;
  font-size: $title-size-large;
}

// ************************************************************
// HEADER
// ************************************************************

.site_header {
  @include flex-v-center;
  justify-content: space-between;
  background-color: transparent;
  position: absolute;
  width: 85%;
  box-sizing: border-box;
  margin: $md-margin $md-margin $md-margin $lg-margin;
  .site-logo {
    height: $base-margin;
  }
  .search {
    height: $base-padding;
  }
}

.navbar {
  @include flex;
}

// ************************************************************
// MAIN
// ************************************************************

.content {
  .segments {
    @include flex;
    justify-content: space-between;
    .segment {
      margin-right: $md-margin;
      flex: 1;
      h3 {
      color: $accent-darker-color;
      margin-top: 0;
      }
    }
  }
}

.about {
  padding: $md-margin $lg-margin;
  background-color: rgb(222,222,222);
  .segments {
    &:first-child {
      flex-basis: 10%;
  }
}
}

.services {
  text-transform: uppercase;
  img {
    height: $base-margin;
  }
}

.interior {
  width: 60%;
  img {
    width: 100%;
  }
}

.categories {
  .content_head {
    padding: $base-margin $lg-margin;
    background-color: rgb(255,255,255);
  }
}

.category {
  height: 35rem;
  text-align: center;
  width: 100%;
  @include flex-vh-center;
  background-blend-mode: overlay;
  .title {
    text-transform: uppercase;
    color: $accent-color;
  }
  &:hover {
    background-blend-mode: normal;
    transition: .7s;
    .title {
      display: none;
    }
  }
}

// @for $i from 1 to 4 {
//   .categories {
//     .segments:nth-child(#{$i}) {
//       background-color: $base-color;
//     }
//   }
// }

.bathroom_category {
  @include photo-content('bathroom');
}

.kitchen_category {
  @include photo-content('kitchen');
}

.bedroom_category {
  @include photo-content('bedroom');
}

.livingroom_category {
  @include photo-content('livingroom');
}

.bathroom_category, .kitchen_category,
.bedroom_category, .livingroom_category {
  background-color: $base-color;
}

// ************************************************************
// FOOTER
// ************************************************************

footer {
  text-align: center;
  color: $accent-darker-color;
  margin: $base-margin;
}
